@import '../../style/vars';
@import '../../style/mixins';

.stories {
    position: relative;
    margin-bottom: 3rem;


    &__wrapper {
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr; // 1fr*4 - кол-во колонок равных по размеру
        // grid-column-gap: 13px; // отступ между колонками
        // grid-template-rows: 195px; // высота блоков


        width: 100%;
        overflow: hidden;

        // @include breakpoint($mobile-bp) {
        //     grid-template-columns: 140px 140px 140px 140px;
        //     overflow: auto;
        // }
    }

    &__inner {
        display: flex;
        min-width: 60rem;
        width: 200%;
        flex-wrap: nowrap;
        height: 195px;

        :last-child {
            margin-right: 0;
        }

        transition: transform .8s ease-in-out;
    }

    &__item {
        display: inline-block;
        overflow: hidden;
        position: relative;
        min-width: 135px;

        margin-right: 2rem;

        border-radius: 5px; // 5px in Figma
        box-shadow: 0 5px 15px rgba($black, .2);
        cursor: pointer;

        // &:nth-child(4n) {
        //     margin-right: 0;
        // }

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;

            background-image: linear-gradient(
                to bottom,
                rgba($black, .8),
                rgba($black, 0) 50%,
                rgba($black, .8)
            );

            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        &:hover {
            .stories__preview {
                transform: scale(1.3);
                transition-duration: 5s;
            }

            .fa-xmark {
                opacity: 1;
            }

            .stories__item-delete {
                opacity: 1;
            }
        }

        &-delete {
            display: block;
            width: 2rem;
            height: 2rem;

            border-radius: 0 0 0 5px;
            background-color: $primary;

            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;

            opacity: 0;
            transition: opacity .2s ease-in-out, color .1s ease-in-out;
        }

        & .fa-xmark {
            display: block;

            font-size: 1.4rem;
            line-height: 2rem;
            text-align: center;
            color: #D2D2D2;
            cursor: pointer;
            opacity: 0;
            transition: opacity .2s ease-in-out, color .1s ease-in-out;

            &:hover {
                color: $blue;
            }
        }
    }

    &__prev-slide,
    &__next-slide {
        display: block;
        width: 3rem;
        height: 3rem;

        border: none;
        border-radius: 50%;
        background-color: $secondary;

        position: absolute;
        z-index: 4;
        top: 50%;
        transform: translateY(-50%);

        color: #fff;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: $blue;
        }

    }

    &__prev-slide {
        transform: translateY(-50%) rotate(180deg);
        left: -2rem;
    }

    &__next-slide {
        right: -2rem;
    }
}

.stories__preview {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    top: 0;
    left: 0;
    z-index: 1;

    transform: scale(1.03);
    transition: transform 1s ease-in-out;
}

.stories__title,
.stories__date {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.2;
    color: $white;

    position: absolute;
    left: 0;
    z-index: 3;

}

.stories__title {
    top: 0;
}

.stories__date {
    bottom: 0;
    text-align: right;
}






