.social {
    display: flex;
    justify-content: center;

    @include breakpoint($tablet-bp) {
        display: none;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        color: #fff;
        transition: color .2s ease-in-out;

        &:hover {
            color: $blue;
        }
    }
}

.social__item {
    margin-right: 1.5rem;
}

.social__item:last-child {
    margin-right: 0;
}