@import '../../style/vars';
@import '../../style/mixins';
@import '../../style/blocks/form.scss';
@import '../../style/blocks/btn.scss';

.auth {
    width: 100%;
    height: 100%;


    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;

        background-color: $dark-grey;
        box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 40px);
    }

    &__inner {
        display: block;
        max-width: 330px;
        width: 100%;
        height: auto;
        padding: 2.5rem;
        flex-shrink: 0;

        background-color: $primary;
        box-shadow: 0 15px 25px rgba($black, .35);
        border-radius: 5px;

        margin: 0 auto;
        position: relative;
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
    }

    &__content {
        width: 100%;
        height: 100%;
    }

    &__back {
        position: absolute;
        top: 1rem;
        left: 1.5rem;

        color: #fff;

        &:hover {
            color: $blue;
        }
    }

    &__title {
        display: block;
        width: 100%;

        font-size: 2.1rem;
        text-align: center;

        margin-bottom: 3rem;

        &--registration {
            margin-top: 1.5rem;
        }
    }

    &__submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1.5rem;

        font-weight: 700;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            display: inline-block;
            margin-right: 1rem;
            width: 1.2rem;
            height: 1.2rem;
            line-height: 1;
        }

        p {
            display: inline-block;
            text-align: center;
            line-height: 1;
        }
    }

    &__extra {
        display: flex;
        justify-content: center;

        margin-top: 1.5rem;

        &-item {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #fff;

                &:hover {
                    color: $blue;
                }
            }
        }


    }
}
